@using AppStore.Manage.Models
@using AppStore.Models
@model IList<AppStore.Models.Category>
@{
    ViewBag.Title = "应用分类";
}
@section style
{
}
@section featured {
}
@section importscript{
    <script type="text/javascript">
    </script>
}

<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        @Html.Partial("_Breadcrumb", new BreadcrumbSet()
{
    PrevList = new List<BreadcrumbLink>() { new BreadcrumbLink()
        {
            Text = "应用", Url = Url.Action("Index")
        } },
    Current = new BreadcrumbLink()
        {
            Text = "应用分类"
        }
})
        <!-- END PAGE TITLE & BREADCRUMB-->
        <div class="portlet-body">
            <div class="table-toolbar">
                <div class="btn-group">
                    <a id="addCategory" class="btn green" href="@Url.Action("CategoryEdit")">添加新的分类 <i class="icon-plus"></i>
                    </a>
                </div>
                <div class="btn-group pull-right">
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover" id="sample_1">
                <thead>
                    <tr>
                        <th>类别</th>
                        <th>分类名称</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model != null && Model.Count > 0)
                        {
                            foreach (Category category in Model)
                            {
                        <tr class="odd gradeX">
                            <td>@UIDisplay.AppType(category.AppTypeID)</td>
                            <td>@category.CategoryName</td>
                            <td>@Html.ActionLink("编辑", "CategoryEdit",new { category.CategoryID }) @Html.ActionLink("删除", "DeleteCategory", new { id = category.CategoryID }, new { onclick = "return confirm('确认需要删除这个分类吗？');" })</td>
                        </tr>
                            }
                        }
                        else
                        {
                        <tr class="odd gradeX">
                            <td colspan="3">暂无数据</td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
