<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title ---- 手机驿站</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta name="MobileOptimized" content="320">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    @Styles.Render("~/Content/css/mandatory")
    <link href="~/Content/themes/metronic/themes/light.css" rel="stylesheet" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/Content/Plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
    <!-- BEGIN:File Upload Plugin CSS files-->
    <link href="~/Content/Plugins/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet" type="text/css">
    <!-- END:File Upload Plugin CSS files-->
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME STYLES -->
    @Styles.Render("~/Content/css/metronic")
    <link href="~/Content/themes/metronic/custom.css" rel="stylesheet" />
    @RenderSection("style", required: false)
    <!-- END THEME STYLES -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
   <script src="~/Content/Plugins/respond.min.js"></script>
   <script src="~/Content/Plugins/excanvas.min.js"></script> 
    <![endif]-->
    <script src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Content/Plugins/layer/layer.min.js"></script>
    <script src="~/Content/Plugins/jquery-migrate-1.2.1.js"></script>
    <script src="~/Content/Plugins/bootstrap/js/bootstrap.js"></script>
    <script src="~/Content/Plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.js"></script>
    <script src="~/Content/Plugins/jquery.blockui.js"></script>
    <script src="~/Content/Plugins/jquery.cookie.js"></script>
    <script src="~/Content/Plugins/uniform/jquery.uniform.js"></script>

    <script src="~/Scripts/Metronic/app.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
        });
    </script>
    @RenderSection("importscript", required: false)
    <!-- END: Page level plugins -->
    <!-- END JAVASCRIPTS -->
    <!-- END CORE PLUGINS -->
    <!-- BEGIN: Page level plugins -->
    @RenderSection("featured", required: false)
</head>
<!-- BEGIN BODY -->
<body class="page-header-fixed page-footer-fixed">
    <!-- BEGIN HEADER -->
    @Html.Partial("_Header")
    <!-- END HEADER -->
    <div class="clearfix"></div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            @Html.Partial("_SiderbarMenu")
            <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE -->
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            Widget settings form goes here
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn blue">Save changes</button>
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            @RenderBody()
        </div>
        <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-container">
        @Html.Partial("_Footer")
    </div>
    <!-- END FOOTER -->
</body>
<!-- END BODY -->
</html>
