@using AppStore.Business
@using AppStore.Manage.Controllers
@using AppStore.Models
@using Lennon.Utility
@section importscript
{

}
@{
    bool isAdmin = false;
    if (Session != null)
    {
        var user = Session["CurrentUser"] as User;
        if (user != null)
        {
            isAdmin = Singleton<AuthorizeBusiness>.Instance.IsAllowed(user, "Application", "Index");
        }
    }
}
<ul class="page-sidebar-menu">
    <li>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler hidden-phone"></div>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    </li>
    <li class="start">
        @if (isAdmin)
        {
            <a href="/Home/Index">
                <i class="icon-home"></i>
                <span class="title">概览</span>
                <span class="selected"></span>
            </a>
        }
        else
        {
            <a href="@Url.Action("Stores", "Statistics")">
                <i class="icon-home"></i>
                <span class="title">装机店统计</span>
                <span class="selected"></span>
            </a>
        }
    </li>
    @if (isAdmin)
    {
        <li class="active">
            <a href="javascript:;">
                <i class="icon-gift"></i>
                <span class="title">应用管理</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="@Url.Action("Index", "Application")">应用列表
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("CategoryList", "Application")">应用分类</a>
                </li>
                <li>
                    <a href="@Url.Action("OrderList", "Application")">应用排序</a>
                </li>
            </ul>
        </li>
    }
    <li class="">
        <a href="@Url.Action("Index", "Statistics")">
            <i class="icon-bar-chart"></i>
            <span class="title">统计分析</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="@Url.Action("Stores", "Statistics")">装机店统计</a>
            </li>
            <li>
                <a href="@Url.Action("Clients", "Statistics")">手机端统计</a>
            </li>
            <li>
                <a href="@Url.Action("Apps", "Statistics")">应用统计</a>
            </li>
        </ul>
    </li>
    @if (isAdmin)
    {
        <li class="">
            <a href="javascript:;">
                <i class="icon-cogs"></i>
                <span class="title">系统管理</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="@Url.Action("MobileList", "System")">手机管理</a>
                </li>
                <li>
                    <a href="@Url.Action("DriverList", "System")">驱动管理</a>
                </li>
                <li>
                    <a href="@Url.Action("PCClientList", "System")">PC客户端管理</a>
                </li>
                <li>
                    <a href="@Url.Action("MobileClientList", "System")">手机客户端管理</a>
                </li>
                <li>
                    <a href="@Url.Action("BrandList", "System")">品牌管理</a>
                </li>
            </ul>
        </li>
        <li class="last">
            <a href="javascript:;">
                <i class="icon-user"></i>
                <span class="title">用户及权限</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="@Url.Action("UserList", "System")">
                        <span class="badge badge-roundless badge-important">new</span>用户管理</a>
                </li>
                <li>
                    <a href="@Url.Action("RoleList", "System")">
                        <span class="badge badge-roundless badge-important">new</span>角色管理</a>
                </li>
            </ul>
        </li>
    }
    <li class="">
        <a href="@Url.Action("LogOff", "Account")">
            <i class="icon-bar-chart"></i>
            <span class="title">退出</span>
        </a>
    </li>
</ul>
