@using System.Data
@model System.Data.DataTable
@{
    ViewBag.Title = "客户端统计报表";
}
@section style
{
}
@section featured {
}
@section importscript{
}

<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            手机端<small>统计报表</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="/">统计管理</a>
                <i class="icon-angle-right"></i>
            </li>
            <li><a href="#">手机端统计报表</a></li>
            <li class="pull-right">
                <div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
                    <i class="icon-calendar"></i>
                    <span></span>
                    <i class="icon-angle-down"></i>
                </div>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<div class="row inbox">
    <div class="col-md-12">
        <div class="portlet-body">
            <div id="dataArea">
                <table class="table table-striped table-bordered table-hover" id="dataList">
                    <thead>
                        <tr>
                            <th>客户端IMEI</th>
                            <th>应用数量</th>
                            <th>启动一次</th>
                            <th>启动两次</th>
                            <th>今日启动</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Rows.Count > 0)
                        {
                            foreach (DataRow dataRow in Model.Rows)
                            {
                                <tr>
                                    <td>@dataRow["ClientKey"]</td>
                                    <td>@dataRow["TotalInstall"]</td>
                                    <td>@dataRow["FirstCount"]</td>
                                    <td>@dataRow["SecondCount"]</td>
                                    <td>@dataRow["TodayStart"]</td>
                                    <td>@Html.ActionLink("手机报表", "ClientDetail", new RouteValueDictionary() { { "id", dataRow["MobileClientID"] } })</td>
                                </tr>
                            }
                        }
                        else
                        {

                            <tr class="odd gradeX">
                                <td colspan="6">暂无数据</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>