@using AppStore.Common
@using AppStore.Models
@using AppStore.WebUI.Models
@model AppStore.Models.Application

@{
    ViewBag.Title = Model.ApplicationName;
    IList<Picture> pictures = ViewBag.Pictures == null ? new List<Picture>() : ViewBag.Pictures as IList<Picture>;
    var categories = ViewBag.Categories as IList<Category>;
    var setting = ServerSettingProxy.Instance.LoadConfig();
    var controller = ViewContext.RouteData.Values["controller"];
    var category = ViewBag.Category as Category;
    var appType = ViewBag.AppType ?? "应用分类";
    var topRanking = ViewBag.TopRanking as IList<Application>;
    foreach (Picture picture in pictures)
    {
        var pic = string.IsNullOrEmpty(picture.Path) ? "/Images/nopicture.jpg" : Path.Combine(setting.DownloadPath, picture.Path).Replace('\\', '/');
        picture.Path = pic;
    }
}
@section style
{
    <link href="~/Content/theme/css/prices.css" rel="stylesheet" />
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>

}
@section importscript
{
    <!--[if lt IE 8]>
            <script type="text/javascript">
                $(".span8").css("width", "65%");
            </script>
    <![endif]-->

    <script src="~/Scripts/portfolio.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var dataString = '@ViewBag.DataJson';
            var dataJson = $.parseJSON(Base64.decode(dataString));
            Portfolio.init();

            $("#install").click(function (event) {
                event.preventDefault();
                var json = [dataJson];
                window.external.CB_InstallAPK(JSON.stringify(json));
            });
        });
    </script>
}
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3 text-center nomarginleft">
                    <div class="navbar-form">
                        <div class="btn-group">
                            <a href="javascript:history.go(-1);" class="btn btn-default"><span class="glyphicon icon-arrow-left"></span></a>
                            <a href="javascript:history.go(1);" class="btn btn-default"><span class="glyphicon icon-arrow-right"></span></a>
                            <a href="javascript:window.location.reload();" class="btn btn-default"><span class="glyphicon icon-repeat"></span></a>
                            <a href="@Url.Action("index", "Home")" class="btn btn-default"><span class="glyphicon icon-home"></span></a>
                        </div>
                    </div>
                </div>
                <div class="span3  text-right">
                    <div class="navbar-form navbar-right">
                        <div class="btn-group">
                        </div>
                    </div>
                </div>
                <div class="span5">
                    <form class="navbar-form text-right" role="search" action="@Url.Action("Search", "Home")">
                        <div class="input-prepend input-append">
                            <span class="add-on"><span class="icon-search"></span></span>
                            <input type="text" class="span10 search-query" placeholder="请输入游戏或应用的名称">
                            <button type="submit" class="btn">搜索</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<div class="container-fluid">
    <!-- BEGIN ABOUT INFO -->
    <div class="row-fluid">
        <!-- BEGIN CAROUSEL -->
        <div class="span-menu nomarginleft">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        分类目录
                    </h3>
                </div>
                <div class="list-group">
                    @if (categories == null || categories.Count == 0)
                    {
                        <a href="#" class="list-group-item">无分类</a>
                    }
                    else
                    {
                        foreach (Category ent in categories)
                        {
                            <a href="@Url.Action("Index", controller.ToString(), new { category = ent.CategoryID })" class="list-group-item">@ent.CategoryName</a>
                        }
                    }
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        本类应用排行
                    </h3>
                </div>
                <div class="list-group">
                    @if (topRanking == null || topRanking.Count == 0)
                    {
                        <a href="#" class="list-group-item">暂无排行</a>
                    }
                    else
                    {
                        for (int k = 0; k < topRanking.Count; k++)
                        {
                            var ent = topRanking[k];
                            <a href="@Url.Action("Detail", "Home", new {id = ent.ApplicationID})" class="list-group-item">@(k + 1) &nbsp; @ent.ApplicationName</a>
                        }
                    }
                </div>
            </div>
        </div>

        <div class="span-content">
            <div class="nav nav-left">
                <ol class="breadcrumb">
                    <li><a href="#">@appType</a><span class="divider">&gt;</span></li>
                    @if (category != null)
                    {
                        <li><a href="#">@category.CategoryName</a><span class="divider">&gt;</span></li>
                    }
                    <li><a href="#">@ViewBag.Title</a></li>
                </ol>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @ViewBag.Title
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row-fluid">
                        <div class="span4 detail-left nomarginleft">
                            <div class="" style="margin: 5px auto;">
                                <a href="#" class="thumbnail">
                                    <img src="@Model.Icon" class="span12 img-rounded img-responsive" />
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                            <div class="pricing-table">
                                <ul>
                                    <li><i class="glyphicon glyphicon-chevron-right"></i>版本：@Model.Version</li>
                                    <li><i class="glyphicon glyphicon-chevron-right"></i>大小：@Model.Size</li>
                                    <li><i class="glyphicon glyphicon-chevron-right"></i>时间：@UIDisplay.ShowTime(Model.UpdateTime, 2)</li>
                                    <li><i class="glyphicon glyphicon-chevron-right"></i>系统要求：适用 @Model.OSVersion 及以上固件版本</li>
                                </ul>
                                <div class="rate">
                                    <div class="price">
                                    </div>
                                    <a href="#" class="btn btn-primary btn-group-justified span12" id="install">安装</a>
                                </div>
                            </div>
                        </div>
                        <!-- END CAROUSEL -->
                        <!-- BEGIN INFO BLOCK -->
                        <div class="span8">
                            <h4>内容简介</h4>
                            <hr />
                            <div>
                                @Html.Raw(Model.Description)
                            </div>
                            <br/><br /><br /><br />
                            <h4>截图</h4>
                            <hr />
                            <div class="front-carousel">
                                <div id="myCarousel" class="carousel slide" style="min-height: 300px;">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner text-center">
                                        @for (int i = 0; i < pictures.Count; i++)
                                        {
                                            Picture picture = pictures[i];
                                            var divClass = i == 0 ? "active " : "";
                                            <div class="item @divClass text-center">
                                                <img src="@picture.Path" style="margin: 0 auto;"/>
                                            </div>
                                        }
                                    </div>
                                    <!-- Carousel nav -->
                                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                                    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                                </div>
                            </div>
                            <!-- END LISTS -->
                            <div class="clearfix"></div>
                        </div>
                        <!-- END INFO BLOCK -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END ABOUT INFO -->
</div>
