@using AppStore.Models
@using AppStore.WebUI.Models
@using Webdiyer.WebControls.Mvc
@model Webdiyer.WebControls.Mvc.PagedList<AppStore.Models.Application>
@{
    var controller = ViewContext.RouteData.Values["controller"];
    var categories = ViewBag.Categories as IList<Category>;
    var category = ViewBag.Category as Category;
    var topRanking = ViewBag.TopRanking as IList<Application>;
}
@section style
{
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
}
@section importscript
{
    @{Html.RegisterMvcPagerScriptResource();}
    <script type="text/javascript">
        var dataJson = null;
        jQuery(document).ready(function () {
            $("ul.topmenu li a").each(function () {
                var $this = $(this);
                if ($this.attr("href") == location.pathname) {
                    $this.parent().addClass("active");
                }
            });
            var dataString = '@ViewBag.DataJson';
            dataJson = $.parseJSON(Base64.decode(dataString));

            $(".install").click(function (event) {
                event.preventDefault();
                var $this = $(this);
                var id = $this.data("value");
                var name = $this.data("name");

                var json = $.grep(dataJson, function (n, i) {
                    return n.ApplicationID === id;
                });
                var str = JSON.stringify(json);
                window.external.CB_InstallAPK(str);
            });

            $("#installAll").click(function (event) {
                event.preventDefault();
                var str = JSON.stringify(dataJson);
                window.external.CB_InstallAPK(str);
            });
            $("#uninstallAll").click(function (event) {
                event.preventDefault();
                window.external.CB_UninstallAllAPK();
            });
        });

    </script>
}
<!-- Fixed navbar -->
<div class="navbar navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3 text-center nomarginleft">
                    <div class="navbar-form navbar-left">
                        <div class="btn-group">
                            <a href="javascript:history.go(-1);" class="btn btn-default"><span class="glyphicon icon-arrow-left"></span></a>
                            <a href="javascript:history.go(1);" class="btn btn-default"><span class="glyphicon icon-arrow-right"></span></a>
                            <a href="javascript:window.location.reload();" class="btn btn-default"><span class="glyphicon icon-repeat"></span></a>
                            <a href="@Url.Action("index", "Home")" class="btn btn-default"><span class="glyphicon icon-home"></span></a>
                        </div>
                    </div>
                </div>
                <div class="span3 text-center">
                    <div class="navbar-form navbar-left">
                        <span class="btn btn-success" id="installAll">
                            一键安装
                        </span>
                        <span class="btn btn-warning" id="uninstallAll">
                            一键卸载
                        </span>
                    </div>
                </div>
                <div class="span5">
                    <form class="navbar-form text-right" role="search" action="@Url.Action("Search", "Home")">
                        <div class="input-prepend input-append">
                            <span class="add-on"><span class="icon-search"></span></span>
                            <input type="text" class="span10 search-query" placeholder="请输入游戏或应用的名称">
                            <button type="submit" class="btn">搜索</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span-menu nomarginleft">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @ViewBag.Title
                    </h3>
                </div>
                <div class="list-group">
                    @if (categories == null || categories.Count == 0)
                    {
                        <a href="#" class="list-group-item">无分类</a>
                    }
                    else
                    {
                        foreach (Category ent in categories)
                        {
                            <a href="@Url.Action("Index", controller.ToString(), new { category = ent.CategoryID })" class="list-group-item">@ent.CategoryName</a>
                        }
                    }
                </div>
            </div>
            <div class="panel panel-default ranking">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        本类应用排行
                    </h3>
                </div>
                <div class="list-group">
                    @if (topRanking == null || topRanking.Count == 0)
                    {
                        <a href="#" class="list-group-item">暂无排行</a>
                    }
                    else
                    {
                        for (int k = 0; k < topRanking.Count; k++)
                        {
                            var ent = topRanking[k];
                            <div class="list-group-item">
                                <dl class="dl-horizontal">
                                    <dt>
                                        <img src="@ent.Icon" class="img-rounded" />
                                    </dt>
                                    <dd>
                                        <a href="@Url.Action("Detail", "Home", new { id = ent.ApplicationID })"> @(k + 1) &nbsp; @ent.ApplicationName</a><br/>
                                        <span>@ent.Total 次</span><br />
                                        <a href="#" data-value="@ent.ApplicationID" data-name="@ent.ApplicationName"
                                           class="install btn btn-default btn-info btn-mini" style="width: 80%;">安装</a>
                                    </dd>
                                </dl>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="span-content">
            <div class="row-fluid">
                <div id="myCarousel" class="carousel" style="min-height: 150px">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item"><img src="~/Images/pics/pic1.jpg" style="width: 100%" /></div>
                        <div class="item"><img src="~/Images/pics/pic2.jpg" style="width: 100%" /></div>
                        <div class="item"><img src="~/Images/pics/pic3.jpg" style="width: 100%" /></div>
                    </div>
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                </div>
                <div class="nav nav-left">
                    <ul class="breadcrumb">
                        <li><a href="#">@ViewBag.Title</a><span class="divider">&gt;</span></li>
                        @if (category != null)
                        {
                            <li><a href="#">@category.CategoryName</a><span class="divider">&gt;</span></li>
                        }
                    </ul>
                </div>
                <div id="dataList" class="data-item">
                    <ul class="thumbnails">
                        @{
                            for (int i = 0; i < Model.Count; i++)
                            {
                                Application application = Model[i];
                                <li class="span2">
                                    <div class="thumbnail">
                                        <a href="@Url.Action("Detail", "Home", new {id = application.ApplicationID})">
                                            <img src="@application.Icon" class="app-pic img-rounded" />
                                        </a>
                                        <a class="item-title" href="@Url.Action("Detail", "Home", new {id = application.ApplicationID})">
                                            <h6 class="text-center">@application.ApplicationName</h6>
                                        </a>
                                        <a href="#" data-value="@application.ApplicationID" data-name="@application.ApplicationName"
                                           class="install btn btn-default btn-xs btn-info" style="width: 70%;">安装</a>
                                    </div>
                                </li>
                                var current = i + 1;
                                if (current % 6 == 0 && current != Model.Count)
                                {
                                    @Html.Raw("</ul><ul class='thumbnails'>");
                                }
                            }
                        }
                    </ul>
                    <div class="clearfix"></div>
                    <div id="pager" class="text-center pagination">
                        @Html.Pager(Model, new PagerOptions
                        {
                            PageIndexParameterName = "index",
                            AlwaysShowFirstLastPageNumber = false,
                            ShowGoButton = false,
                            ContainerTagName = "ul",
                            PagerItemWrapperFormatString = "<li>{0}</li>",
                            CurrentPagerItemWrapperFormatString = "<li class='disabled'><a href='#'>{0}</a></li>"
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
