@using AppStore.Models
@using AppStore.WebUI.Models
@model Webdiyer.WebControls.Mvc.PagedList<AppStore.Models.Application>
@{
    var controller = ViewContext.RouteData.Values["controller"];
    var categories = ViewBag.Categories as IList<Category>;
    var category = ViewBag.Category as Category;
    var topRanking = ViewBag.TopRanking as IList<Application>;
}
@section style
{
    <style type="text/css">
        body {
            padding-top: 70px;
        }
    </style>
}
@section importscript
{
    <script type="text/javascript">
        var dataJson = null;
        jQuery(document).ready(function () {
            $("ul.topmenu li a").each(function () {
                var $this = $(this);
                if ($this.attr("href") == location.pathname) {
                    $this.parent().addClass("active");
                }
            });
            var dataString = '@ViewBag.DataJson';
            dataJson = $.parseJSON(Base64.decode(dataString));

            $(".install").click(function (event) {
                event.preventDefault();
                var $this = $(this);
                var id = $this.data("value");
                var name = $this.data("name");

                var json = $.grep(dataJson, function (n, i) {
                    return n.ApplicationID === id;
                });
                var str = JSON.stringify(json);
                window.external.CB_InstallAPK(str);
            });

            $("#installAll").click(function (event) {
                event.preventDefault();
                var str = JSON.stringify(dataJson);
                window.external.CB_InstallAPK(str);
            });
            $("#uninstallAll").click(function (event) {
                event.preventDefault();
                window.external.CB_UninstallAllAPK();
            });

            $(function () {
                var userAgent = window.navigator.userAgent.toLowerCase();
                var version = $.browser.version;
            });
        });

    </script>
}
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <div class="navbar-form navbar-left">
                    <div class="btn-group">
                        <a href="javascript:history.go(-1);" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a>
                        <a href="@Url.Action("index", "Home")" class="btn btn-default"><span class="glyphicon glyphicon-home"></span></a>
                        <a href="javascript:history.go(1);" class="btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-5">
                <form class="navbar-form text-center" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="请输入游戏或应用的名称">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">搜索</button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-xs-4" style="padding-top: 0;padding-bottom: 0;">
                <span class="btn" id="installAll">
                    <img src="~/Images/installall.png" class="small" style="width: 110px;" />
                </span>
                <span class="btn" id="uninstallAll">
                    <img src="~/Images/uninstallall.png" class="small" style="width: 110px;" />
                </span>
            </div>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3 recommend">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @ViewBag.Title
                    </h3>
                </div>
                <div class="list-group">
                    @if (categories == null || categories.Count == 0)
                    {
                        <a href="#" class="list-group-item">无分类</a>
                    }
                    else
                    {
                        foreach (Category ent in categories)
                        {
                            <a href="@Url.Action("Index", controller.ToString(), new { category = ent.CategoryID })" clas class="list-group-item">@ent.CategoryName</a>
                        }
                    }
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        本类应用排行
                    </h3>
                </div>
                <div class="list-group">
                    @if (topRanking == null || topRanking.Count == 0)
                    {
                        <a href="#" class="list-group-item">暂无排行</a>
                    }
                    else
                    {
                        for (int k = 0; k < topRanking.Count; k++)
                        {
                            var ent = topRanking[k];
                            <a href="@Url.Action("Detail", "Home", new {id = ent.ApplicationID})" class="list-group-item">@(k + 1) &nbsp; @ent.ApplicationName</a>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-8 dataList">
            <div class="row">
                <div class="nav nav-left">
                    <ol class="breadcrumb">
                        <li><a href="#">@ViewBag.Title</a></li>
                        @if (category != null)
                        {
                            <li><a href="#">@category.CategoryName</a></li>
                        }
                    </ol>
                </div>
                <div id="dataList" class="data-item">
                    @{
                        int i = 0;
                        foreach (Application application in Model)
                        {
                            i++;
                            <div class="item col-sm-4 text-center">
                                <a href="@Url.Action("Detail", "Home", new { id = application.ApplicationID })">
                                    <img src="@application.Icon" class="app-pic img-rounded" />
                                </a><br />
                                <a class="item-title" href="@Url.Action("Detail", "Home", new { id = application.ApplicationID })">
                                    @application.ApplicationName
                                </a>
                                <br />
                                <a href="#" data-value="@application.ApplicationID" data-name="@application.ApplicationName"
                                   class="install btn btn-default btn-xs" style="width: 66.66%;">安装</a>
                            </div>
                            if (i % 3 == 0)
                            {
                                <div class="clearfix visible-xs"></div>
                            }
                        }
                    }
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
    </div>
    <div id="pager" class="text-center">
        @Html.Partial("_Pager", Model)
    </div>
</div>
