@using AppStore.Models
@using Webdiyer.WebControls.Mvc
@model Webdiyer.WebControls.Mvc.PagedList<AppStore.Models.MobileClient>

<table class="table table-striped table-bordered table-hover" id="dataList">
    <thead>
        <tr>
            <th class="table-checkbox">
                <input type="checkbox" class="group-checkable" /></th>
            <th>KEY</th>
            <th>客户端名称</th>
            <th>MAC</th>
            <th>更新时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (MobileClient entity in Model)
            {
            <tr class="odd gradeX">
                <td>
                    <input type="checkbox" class="checkboxes" value="@entity.MobileClientID" />
                </td>
                <td>@entity.ClientKey</td>
                <td>@entity.ClientName</td>
                <td>@entity.ClientMac</td>
                <td class="center">@UIDisplay.ShowTime(entity.UpdateTime, 1)</td>
                <td>@Html.ActionLink("编辑", "MobileClientEdit", new RouteValueDictionary() { { "id", entity.MobileClientID } }) @Html.ActionLink("删除", "DeleteMobileClient", new { id = entity.MobileClientID }, new { onclick = "return confirm('确认需要删除这个客户端吗？');" })</td>
            </tr>
            }
        }
        else
        {

            <tr class="odd gradeX">
                <td colspan="6">暂无数据</td>
            </tr>
        }
    </tbody>
</table>
<div>
    <div style="float: left; width: 50%">共 @Model.TotalPageCount 页 @Model.TotalItemCount 条记录，当前为第 @Model.CurrentPageIndex 页</div>
    @Ajax.Pager(Model, new PagerOptions { PageIndexParameterName = "index", ShowPageIndexBox = true, PageIndexBoxType = PageIndexBoxType.DropDownList, ShowGoButton = false },
    new MvcAjaxOptions { UpdateTargetId = "dataArea", DataFormId = "searchForm" }, new { style = "float:right" })
</div>
