@using AppStore.Manage.Models
@model AppStore.Models.Role
@{
    ViewBag.Title = "编辑角色信息";
}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        @Html.Partial("_Breadcrumb", new BreadcrumbSet()
   {
       PrevList = new List<BreadcrumbLink>() { new BreadcrumbLink()
                {
                    Text = "角色列表", Url = Url.Action("RoleList")
                } },
       Current = new BreadcrumbLink()
       {
           Text = "编辑角色"
       }
   })
        <div class="tab-pane" id="tab_7">
            <div class="portlet box light-grey ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-reorder"></i>编辑角色
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" id="form1" class="form-horizontal" method="POST">
                        @Html.HiddenFor(o => o.RoleID)
                        <div class="form-body">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-dismiss="alert"></button>
                                校验不通过，请检查。
                            </div>
                            <div class="alert alert-success display-hide">
                                <button class="close" data-dismiss="alert"></button>
                                校验通过。
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">名称<span class="required">*</span></label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">权限点<span class="required">*</span></label>
                                <div class="col-md-9">
                                    <div class="radio-list">
                                        @Html.CheckBoxListFor(model => model.RolePermissions,
                                                     model => model.ActionPermissions,
                                            role => role.ActionPermissionId,
                                            role => role.Description,
                                                              model => model.RolePermissions,
                                            Position.Horizontal)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">描述</label>
                                <div class="col-md-4">
                                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green hidden">提交</button>
                                <button id="cancel" type="button" class="btn default">清空</button>
                                <a type="button" class="btn default" href="@Url.Action("RoleList")">返回</a>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>

    </div>
</div>
