@using AppStore.Manage.Models
@using AppStore.Models
@model AppStore.Models.User
@{
    ViewBag.Title = "编辑用户信息";
}
<div class="row">
    <div class="col-md-12">
        <div class="tab-pane" id="tab_7">
            <div class="portlet box light-grey ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-reorder"></i>编辑用户信息
                    </div>
                </div>
                <div class="portlet-body form">
                    <form action="#" id="form1" class="form-horizontal" method="POST">
                        @Html.HiddenFor(m => m.ErrorCount)
                        @Html.HiddenFor(m => m.LastLoginTime)
                        @Html.HiddenFor(m => m.UpdateTime)
                        @Html.HiddenFor(m => m.UserId)
                        @Html.HiddenFor(m => m.Password)
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label col-md-3">用户帐号<span class="required">*</span></label>
                                <div class="col-md-9">
                                    @Html.TextBox("loginId", @Model.LoginId, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">名称<span class="required">*</span></label>
                                <div class="col-md-9">
                                    @Html.TextBox("userName", @Model.UserName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">角色<span class="required">*</span></label>
                                <div class="col-md-9">
                                    <div class="radio-list">
                                        @Html.CheckBoxListFor(model => model.UserInRoles,
                                            model => model.Roles,
                                            role => role.RoleID,
                                            role => role.Name,
                                            model => model.UserInRoles,
                                            Position.Horizontal)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">装机店<span class="required">*</span></label>
                                <div class="col-md-9">
                                    <div class="radio-list">
                                        @Html.CheckBoxListFor(model => model.PCClient,
                                            model => model.PcClients,
                                            role => role.PCClientID,
                                            role => role.ClientName,
                                                     model => model.PCClient,
                                            Position.Horizontal)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">手机<span class="required">*</span></label>
                                <div class="col-md-4">
                                    @Html.TextBox("Mobile", @Model.Mobile, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">联系电话<span class="required">*</span></label>
                                <div class="col-md-4">
                                    @Html.TextBox("Telephone", @Model.Telephone, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">是否有效<span class="required">*</span></label>
                                <div class="col-md-4">
                                    @Html.CheckBox("IsValid", @Model.IsValid)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">密码<span class="required">*</span></label>
                                <div class="col-md-4">
                                    @Html.TextBox("password", "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">提交</button>
                                <button id="cancel" type="button" class="btn default">清空</button>
                                <a type="button" class="btn default" href="@Url.Action("UserList")">返回</a>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>

    </div>
</div>
